* {}

/* ============================================================================ */
body {
    height: 100%;
    position: relative;
}
.page-header {
    display: flex;
    flex-wrap: nowrap;
    z-index: 1000;
    position: relative;
}

.page-header .logo {
    transition: 0.2s ease-out;
    background-color: #367fa9;
    color: #fff;
    display: block;
    width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    /* padding: 0 15px; */
}

/* nut toogle sidebar */
.page-blue .page-header .sidebar-toggle {
    color: #fff;
    padding: 13px;
}

.page-blue .page-header .navbar {
    transition: 0.2s ease-out;
    background-color: #3c8dbc;
    height: 50px;
}

/* navbar trên header */
.page-header .navbar {
    width: 230px;
    padding: 0;
    flex-grow: 1;
}

/* khi click vào toggle */
.navbar-menu .nav .show > a {
    background-color: #337ab7;
}

/* bỏ icon mặc định của nút toggle trong bs4 */
.navbar .dropdown-toggle::after {
    display: none;
}
/* cho nội dung dropdown nằm dưới trái */
.navbar>.navbar-menu>.nav>li>.dropdown-menu {
    right: 0px;
    left: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0px;
    margin: 0px;
    width: 280px;
    overflow: hidden;
}


.navbar-menu .nav .dropdown-toggle {
    color: #fff;
    padding: 13px;
    display: block;
}

.page-header .navbar-menu .nav>li>a>.label {
    position: absolute;
    top: 7px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    line-height: .9;
    padding: 2px 3px;
    border-radius: 2px;
}
.label-success {
    background-color: #00a65a !important;
}
.label-danger {
    background-color: #dd4b39 !important;
}

.nav .menu-item .dropdown-menu {
    top: 100%;
    margin-top: 0px;
}
.nav .menu-item .dropdown-menu .dropdown-item {
    padding: 0;
    margin: 0;
    background: #fff;
}
.nav .menu-item .dropdown-menu .header {
    color: #444444;
    font-size: 14px;
    background: #fff;
    padding: 6px 12px;
}
.nav .menu-item .dropdown-menu .footer a {
    color: #444444;
    font-size: 14px;
    background: #fff;
    padding: 6px 12px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.menu-item .dropdown-menu .dropdown-item ul.menu a div img {
    width: 100%;
}

.menu-item .dropdown-menu .dropdown-item ul.menu a div.left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.menu-item .dropdown-menu .dropdown-item ul.menu a div.right {
    width: 50px;
    flex-grow: 1;
}
.menu-item .dropdown-menu .dropdown-item ul.menu a div.right h4 {
    font-size: 16px;
    position: relative;
}
.menu-item .dropdown-menu .dropdown-item ul.menu a div.right h4 small {
    font-size: 10px;
    position: absolute;
    right: 14px;
    top: 1px;
    color: #505050;
}
.menu-item .dropdown-menu .dropdown-item ul.menu a div.right h4 small i {
    font-size: 8px;
    padding-right: 3px;
}

.menu-item .dropdown-menu ul.menu li a {
    display: block;
    text-decoration: none;
    color: #333;
    display: flex;
    /* height: 70px; */
}

.menu-item .dropdown-menu ul.menu {
    list-style-type: none;
    padding: 0px;
    height: 186px;
    overflow-y: scroll;
}
.menu-item .dropdown-menu ul.menu>li {
    padding-bottom: 11px;
    border-bottom: 0.5px solid #efe4e4;
    background-color: #fff !important;
}
.menu-item .dropdown-menu .dropdown-item ul.menu a div.right p {
    font-size: 12px;
    margin-bottom: 0px;
}

.menu-item .dropdown-menu ul.menu>li:hover {
    background-color: #524e4e12 !important;
}
@media (max-width: 768px) {
    .page-wrapper aside.page-sidebar {
        margin-top: 100px;
        overflow: hidden;
        transform: translateX(-100%)
    }
    .page-header .logo {
        width: 100%;
    }
    .page-header .navbar {
        width: 100%;
    }
    .page-header {
        flex-wrap: wrap;
    }
    .page-content {
        margin-left: 0px !important;
    }
    
}
@media (max-width: 576px) {
    
}
/*  */
.page-wrapper aside.page-sidebar {
    transition: 0.2s ease-out;
    position: absolute;
    width: 230px;
    transform: translateX(-0%);
    background: #f5f3f3;
    min-height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
    display: block;
    z-index: 900;
    background-color: #1e282c;
}

.sidebar a {
    text-decoration: none;
}
.sidebar li {
    list-style-type: none;
}
.sidebar ul.sidebar-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.sidebar ul.sidebar-menu > li {
   background-color: #1e282c
}
.sidebar ul.sidebar-menu > li > ul {
    background-color: #2c3b41;
}

.sidebar ul.sidebar-menu > li > a {
    display: block;
    display: block;
    padding: 9px 14px;
    color: #fff !important;
    font-size: 14px;
    position: relative;
}

.sidebar ul.sidebar-menu > li > a > i {
    padding-right: 6px;
    width: 17px;
    text-align: center;
}

.sidebar ul.sidebar-menu  ul {
    display: none;
}

.sidebar ul.sidebar-menu li span i {
    transform: rotate(0deg);
    transition: 0.3s;
}
.sidebar ul.sidebar-menu li.open span i {
    transform: rotate(-90deg);
    transition: 0.3s;
}

.sidebar ul.sidebar-menu li.menu-item ul.child-menu {
    background-color: #2c3b41;
}

.sidebar ul.sidebar-menu li.menu-item ul.child-menu li a {
    display: block;
    color: #8aa4af;
    font-size: 14px;
    padding: 4px 3px;
}
.sidebar ul.sidebar-menu li.menu-item ul.child-menu li a i {
    font-size: 12px;
}
.page-content {
    height: 930px;
    background-color: #007bff;
    margin-left: 230px;
}